/* Masonry JS Styles */
.masonry-item-1 {
	width: 100% !important;
}
.masonry-item-2 {
  width: 50% !important;
}

.masonry-item-3 {
	width: 33.33333% !important;
}

.masonry-item-4 {
	width: 25% !important;
}

.masonry-item-5 {
	width: 20% !important;
}

.masonry-item-6 {
	width: 16.66666% !important;
}

.masonry-item-7 {
	width: 14.28571% !important;
}

.masonry-item-8 {
	width: 12.5% !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.masonry-item-5, .masonry-item-6, .masonry-item-7, .masonry-item-8 {
		width: 33.33333% !important;
	}

	.masonry-item-2, .masonry-item-3, .masonry-item-4 {
    	width: 50% !important;
  	}
}

@media (max-width: 767px) {
	.masonry-item-7, .masonry-item-8 {
		width: 50% !important;
	}

  	.masonry-item-1, .masonry-item-2, .masonry-item-3, .masonry-item-4, .masonry-item-5, .masonry-item-6, .masonry-item-7, .masonry-item-8 {
    	width: 100% !important;
  	}
}