body {
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


/* ------------------------------------------ */
/* Responsive Headings ---------------------- */
/* ------------------------------------------ */
body h1 { font-size: clamp(35px, 7vw, 50px); }
body h2 { font-size: clamp(30px, 6vw, 44px); }
body h3 { font-size: clamp(27px, 5vw, 38px); }
body h4 { font-size: clamp(24px, 5vw, 30px); }
body h5 { font-size: clamp(20px, 4vw, 24px); }
body h6 { font-size: clamp(17px, 3vw, 18px); }




/* ------------------------------------------ */
/* Font Family ------------------------------ */
/* ------------------------------------------ */
.open-sans { font-family: Open Sans; }
.overpass { font-family: Overpass; }


/* ------------------------------------------ */
/* Background Colors ------------------------ */
/* ------------------------------------------ */
.bg-white         { background-color: #FFFFFF; }
.bg-off-white     { background-color: #F9F9F9; }
.bg-platinum      { background-color: #EBEBEB; }
.bg-gray-light    { background-color: #D6D6D6; }
.bg-silver        { background-color: #C2C2C2; }
.bg-gray          { background-color: #7C7C7C; }
.bg-dark-mode     { background-color: #121212; }
.bg-black         { background-color: #000000; }
.bg-red-tint      { background-color: #F9C6C9; }
.bg-red           { background-color: #EA3440; }
.bg-red-medium    { background-color: #B9131E; }
.bg-red-dark      { background-color: #6F0C12; }
.bg-orange-tint   { background-color: #F7D9C4; }
.bg-orange        { background-color: #E4813A; }
.bg-orange-medium { background-color: #C5621B; }
.bg-brown         { background-color: #7E3E11; }
.bg-yellow-tint   { background-color: #FAEDCB; }
.bg-yellow        { background-color: #EDBD45; }
.bg-yellow-medium { background-color: #DFA616; }
.bg-yellow-dark   { background-color: #A77C11; }
.bg-green-tint    { background-color: #C9E4DE; }
.bg-green         { background-color: #5CAD9B; }
.bg-green-medium  { background-color: #448879; }
.bg-green-dark    { background-color: #305F55; }
.bg-blue-tint     { background-color: #C6DEF1; }
.bg-blue          { background-color: #4A96D3; }
.bg-blue-medium   { background-color: #2C77B5; }
.bg-blue-dark     { background-color: #184163; }
.bg-purple-tint   { background-color: #DBCDF0; }
.bg-purple        { background-color: #8352CB; }
.bg-purple-medium { background-color: #6434AD; }
.bg-purple-dark   { background-color: #371C5E; }
.bg-pink-tint     { background-color: #F2C6DE; }
.bg-pink          { background-color: #D54896; }
.bg-pink-medium   { background-color: #B72A77; }
.bg-pink-dark     { background-color: #741A4C; }

/* ------------------------------------------ */
/* Text Colors ------------------------------ */
/* ------------------------------------------ */
.white          { color: #FFFFFF; }
.off-white      { color: #F9F9F9; }
.platinum       { color: #EBEBEB; }
.gray-light     { color: #D6D6D6; }
.silver         { color: #C2C2C2; }
.gray           { color: #7C7C7C; }
.dark-mode      { color: #121212; }
.black          { color: #000000; }
.red-tint       { color: #F9C6C9; }
.red            { color: #EA3440; }
.red-medium     { color: #B9131E; }
.red-dark       { color: #6F0C12; }
.orange-tint    { color: #F7D9C4; }
.orange         { color: #E4813A; }
.orange-medium  { color: #C5621B; }
.brown          { color: #7E3E11; }
.yellow-tint    { color: #FAEDCB; }
.yellow         { color: #EDBD45; }
.yellow-medium  { color: #DFA616; }
.yellow-dark    { color: #A77C11; }
.green-tint     { color: #C9E4DE; }
.green          { color: #5CAD9B; }
.green-medium   { color: #448879; }
.green-dark     { color: #305F55; }
.blue-tint      { color: #C6DEF1; }
.blue           { color: #4A96D3; }
.blue-medium    { color: #2C77B5; }
.blue-dark      { color: #184163; }
.purple-tint    { color: #DBCDF0; }
.purple         { color: #8352CB; }
.purple-medium  { color: #6434AD; }
.purple-dark    { color: #371C5E; }
.pink-tint      { color: #F2C6DE; }
.pink           { color: #D54896; }
.pink-medium    { color: #B72A77; }
.pink-dark      { color: #741A4C; }

/* ------------------------------------------ */
/* Border Colors ---------------------------- */
/* ------------------------------------------ */
.bd-white         { border-color: #FFFFFF; }
.bd-off-white     { border-color: #F9F9F9; }
.bd-platinum      { border-color: #EBEBEB; }
.bd-gray-light    { border-color: #D6D6D6; }
.bd-silver        { border-color: #C2C2C2; }
.bd-gray          { border-color: #7C7C7C; }
.bd-dark-mode     { border-color: #121212; }
.bd-black         { border-color: #000000; }
.bd-red-tint      { border-color: #F9C6C9; }
.bd-red           { border-color: #EA3440; }
.bd-red-medium    { border-color: #B9131E; }
.bd-red-dark      { border-color: #6F0C12; }
.bd-orange-tint   { border-color: #F7D9C4; }
.bd-orange        { border-color: #E4813A; }
.bd-orange-medium { border-color: #C5621B; }
.bd-brown         { border-color: #7E3E11; }
.bd-yellow-tint   { border-color: #FAEDCB; }
.bd-yellow        { border-color: #EDBD45; }
.bd-yellow-medium { border-color: #DFA616; }
.bd-yellow-dark   { border-color: #A77C11; }
.bd-green-tint    { border-color: #C9E4DE; }
.bd-green         { border-color: #5CAD9B; }
.bd-green-medium  { border-color: #448879; }
.bd-green-dark    { border-color: #305F55; }
.bd-blue-tint     { border-color: #C6DEF1; }
.bd-blue          { border-color: #4A96D3; }
.bd-blue-medium   { border-color: #2C77B5; }
.bd-blue-dark     { border-color: #184163; }
.bd-purple-tint   { border-color: #DBCDF0; }
.bd-purple        { border-color: #8352CB; }
.bd-purple-medium { border-color: #6434AD; }
.bd-purple-dark   { border-color: #371C5E; }
.bd-pink-tint     { border-color: #F2C6DE; }
.bd-pink          { border-color: #D54896; }
.bd-pink-medium   { border-color: #B72A77; }
.bd-pink-dark     { border-color: #741A4C; }




/* ------------------------------------------ */
/* Grid Styles ------------------------------ */
/* ------------------------------------------ */
.grid-display { gap: 50px; }
.grid-item .masonry-item { margin-bottom: 50px; }
.grid-item .masonry-item:last-child { margin-bottom: 0px; }

@media screen and (max-width: 1024px) { 
  .grid-display { gap: 25px; } 
  .grid-item .masonry-item { margin-bottom: 25px; }
}




/* ------------------------------------------ */
/* Page Banner ------------------------------ */
/* ------------------------------------------ */
.page-banner h1 { margin: 0; font-style: normal; color: white; font-family: Overpass; }


/* Page Banner | Image Only */
/* ------------------------ */
.page-banner.image-banner { margin-bottom: -5px; }
#content .page-banner.image-banner a { position: static; }
#content .page-banner.image-banner a:after { height: 0px; }


/* Page Banner | Image w/ Text */
/* --------------------------- */
.page-banner.text-banner { background-size: cover; background-repeat: no-repeat; transition: .3s; }
@media screen and (max-width: 768px) { .page-banner.text-banner { padding: 60px 0px; } }


/* Page Banner | Video */
/* ------------------- */
.page-banner.video-banner { position: relative; overflow: hidden; padding: 140px 0px; transition: .3s; }
.page-banner.video-banner .grid-container { position: relative; z-index: 1; }

.page-banner.video-banner .background-video {
  position: absolute; top: 0; right: 0;
  min-width: 100%; min-height: 100%;
}

.page-banner.video-banner video { width: 100%; max-width: 100%; height: auto; }

@media screen and (min-width: 1400px) {
  .page-banner.video-banner { padding: 220px 0px; }
}

@media screen and (max-width: 768px) {
  .page-banner.video-banner { padding: 70px 0px; }
  .page-banner.video-banner video { object-fit: cover; }
}




/* ------------------------------------------ */
/* Sub-Menu --------------------------------- */
/* ------------------------------------------ */
div.sub-menu .menu-container     { background-color: #121212; }
div.sub-menu .menu-container ul  { margin: 0px; }
div.sub-menu .menu-container ul  { list-style-type: none; text-align: center; }
div.sub-menu .menu-container li  { display: inline-block; text-align: center; }
#content .menu-container a:after { content: none; }

div.sub-menu .menu-container ul > li {
  font-weight: bold; font-size: 17px; line-height: 94px; margin-right: -5px; color: #FFFFFF;
  position: relative; transition: .3s;
}

#content div.sub-menu .menu-container > ul > li > a {
  font-weight: inherit; font-size: inherit; height: inherit; cursor: pointer; transition: 0s;
  padding: 0px 30px; position: relative; display: inline-block; vertical-align: middle;
  line-height: 25px; color: inherit; background-color: transparent;
}

#content div.sub-menu .menu-container > ul > li.menu-item-has-children > a { padding-right: 50px; }
#content div.sub-menu .menu-container > ul > li.current-menu-item > a { cursor: inherit; }


/* Menu Style | Background Color */
/* ----------------------------- */
#content div.sub-menu .menu-container > ul.style-background > li:not(.menu-item-has-children, .clear-hover):hover,
#content div.sub-menu .menu-container > ul.style-background > li:not(.menu-item-has-children, .clear-hover).current-menu-item {
  background-color: #FFFFFF; color: #121212;
}


/* Menu Style | Bottom Border */
/* -------------------------- */
#content div.sub-menu .menu-container > ul.style-border > li:not(.menu-item-has-children, .clear-hover):after {
  content: ""; position: absolute; display: block;
  width: calc(100% - 60px); height: 3px; bottom: 10px; left: 30px;
  background-color: #FFFFFF; opacity: 0; transition: .3s;
}

#content div.sub-menu .menu-container > ul.style-border > li:not(.menu-item-has-children, .clear-hover):hover:after,
#content div.sub-menu .menu-container > ul.style-border > li:not(.menu-item-has-children, .clear-hover).current-menu-item:after {
  opacity: 1;
}


/* Menu Style | Sub-Menu */
/* --------------------- */
#content div.sub-menu ul ul.sub-menu {
  opacity: 0; visibility: hidden;
  position: absolute; width: 215px; left: 30px;
  background-color: #121212; border-top: 1px solid #FFFFFF; text-align: left; z-index: 2;
  box-shadow: 0 7px 9px -7px rgb(0 0 0 / 15%), 7px 0 9px -7px rgb(0 0 0 / 15%), -7px 0 9px -7px rgb(0 0 0 / 15%);
  transition: 0s;
}

#content div.sub-menu ul li.menu-item-has-children:hover ul.sub-menu { opacity: 1; visibility: visible; transition: .3s; }

#content div.sub-menu ul ul.sub-menu > li {
  display: block; margin-right: 0px;
  line-height: 50px; text-align: left; color: #FFFFFF; font-size: 15px;
}

#content div.sub-menu ul ul.sub-menu > li:hover { background-color: #000000; }

#content div.sub-menu ul ul.sub-menu > li > a {
  display: block; padding-left: 15px; color: inherit; font-size: inherit; transition: 0s;
}

#content div.sub-menu .menu-container ul > li.menu-item-has-children > a:before {
  content: "\f107"; font-family: GeneratePress; position: absolute; display: inline; right: 25px; top: 1px;
}

@media screen and (max-width: 1325px) {
  div.sub-menu .menu-container ul > li { line-height: 80px; }
  #content div.sub-menu .menu-container ul > li > a { padding: 0px 20px; line-height: 22px; }

  #content div.sub-menu .menu-container ul.style-border > li:hover:after,
  #content div.sub-menu .menu-container ul.style-border > li.current-menu-item:after {
    width: calc(100% - 40px); bottom: 10px; left: 20px;
  }

  #content div.sub-menu ul ul.sub-menu { left: 0; }
  #content div.sub-menu .menu-container > ul > li.menu-item-has-children > a { padding-right: 30px; }
  #content div.sub-menu .menu-container ul > li.menu-item-has-children > a:before { right: 3px; }
  #content div.sub-menu ul ul.sub-menu > li a { line-height: inherit; }
  #content div.sub-menu ul ul.sub-menu > li { line-height: 40px; }
}


/* Menu Style | Mobile Dropdown */
/* ---------------------------- */
#content .sub-menu .dropdown-container,
#content .sub-menu .menu-container.mobile-menu { display: none; }
.sub-menu .dropdown-container i { cursor: pointer; }

.sub-menu .dropdown-container {
  background-color: #121212; color: #FFFFFF; border-bottom: 1px solid #FFFFFF;
  padding: 5px 15px; font-size: 25px; text-align: right;
}

@media screen and (max-width: 768px) {
  #content div.sub-menu .menu-container { display: none; }
  #content .sub-menu .dropdown-container { display: block; }
}


/* Menu Style | Mobile */
/* ------------------- */
#content .sub-menu .menu-container.mobile-menu li {
  display: block; text-align: left; line-height: 25px; float: none !important;
}

#content div.sub-menu .menu-container.mobile-menu > ul.style-border > li:after { content: none; }
#content .sub-menu .menu-container.mobile-menu li br { display: none; }

#content .sub-menu .menu-container.mobile-menu li a {
  color: inherit; display: block; line-height: inherit; padding: 15px 20px;
}

#content .sub-menu .menu-container.mobile-menu li.menu-item-has-children a:before { content: none; }

#content .sub-menu .menu-container.mobile-menu li:hover {
  background-color: #FFFFFF; color: #121212;
}

#content div.sub-menu .mobile-menu ul ul.sub-menu {
  opacity: 1; visibility: visible;
  width: 100%; position: relative;
  border-bottom: 1px solid #FFFFFF;
}

#content div.sub-menu .mobile-menu ul ul.sub-menu li a { padding-left: 30px; }




/* ------------------------------------------ */
/* Content Styles --------------------------- */
/* ------------------------------------------ */

/* Line Separator */
.component.line-separator-component hr { margin-bottom: 1rem; margin-top: 1rem; }

/* Text Component */
.component.text-component:last-of-type > div > * { margin-bottom: 0px; }

/* Link Component */
.component.link-component button { padding: 0; }
.component.link-component a.button { padding: 15px 30px; }
.component.link-component a.link { background-color: none; }

/* Button Sizes */
.button.button-small  { padding: .25rem 1rem !important; }
.button.button-big    { padding: 1rem 1.75rem !important; }
.button.button-narrow { padding-left: .5rem !important; padding-right: .5rem !important; }

/* List Component */
.component.list-component > ul { margin-left: 10px; list-style-position: inside; }
.component.list-component > ul li.list-icon { background-size: 20px; padding: 5px 0px 5px 35px; }